@import url('https://fonts.googleapis.com/css?family=Molengo');

$color-white: #ffffff;
$color-light-gray: #efefef;
$color-blue: #435058;
$moar-blue: #41658A;
$color-green: #000;


$font-main: 'Molengo', sans-serif;